dist-newstyle/
result
result-*
*.hi
*.o
*.dyn_hi
*.dyn_o
.dart_tool/
.flutter-plugins-dependencies
flutter-gui/flutter-haskell-bridge/android/app/
flutter-gui/flutter-haskell-bridge/android/local.properties
flutter-gui/flutter-haskell-bridge/linux/flutter/
flutter-gui/flutter-haskell-bridge/macos/Flutter/
